#include <windows.h>

1 ICON "assets\\icons\\mu-screen-cast-coral.ico"

1 RT_MANIFEST
BEGIN
  "<?xml version='1.0' encoding='UTF-8' standalone='yes'?>\r\n"
  "<assembly xmlns='urn:schemas-microsoft-com:asm.v1' manifestVersion='1.0'>\r\n"
  " <assemblyIdentity version='2.3.1.0' processorArchitecture='*' name='daxiaamu.MUScrcpy' type='win32'/>\r\n"
  " <description>MU Screen Casting</description>\r\n"
  " <dependency><dependentAssembly><assemblyIdentity type='win32' name='Microsoft.Windows.Common-Controls' version='6.0.0.0' processorArchitecture='*' publicKeyToken='6595b64144ccf1df' language='*'/></dependentAssembly></dependency>\r\n"
  " <trustInfo xmlns='urn:schemas-microsoft-com:asm.v3'><security><requestedPrivileges><requestedExecutionLevel level='asInvoker' uiAccess='false'/></requestedPrivileges></security></trustInfo>\r\n"
  " <compatibility xmlns='urn:schemas-microsoft-com:compatibility.v1'><application><supportedOS Id='{e2011457-1546-43c5-a5fe-008deee3d3f0}'/><supportedOS Id='{4a2f28e3-53b9-4441-ba9c-d69d4a4a6e38}'/><supportedOS Id='{1f676c76-80e1-4239-95bb-83d0f6d0da78}'/><supportedOS Id='{8e0f7a12-bfb3-4fe8-b9a5-48fd50a15a9a}'/></application></compatibility>\r\n"
  "</assembly>\r\n"
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2,3,0,0
 PRODUCTVERSION 2,3,0,0
 FILEFLAGSMASK 0x3fL
 FILEOS 0x40004L
 FILETYPE 0x1L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404B0"
        BEGIN
            VALUE "CompanyName", "大侠阿木\0"
            VALUE "FileDescription", "MU投屏\0"
            VALUE "FileVersion", "2.3.1.0\0"
            VALUE "InternalName", "MUScrcpy\0"
            VALUE "LegalCopyright", "daxiaamu.com\0"
            VALUE "OriginalFilename", "MUScrcpy.exe\0"
            VALUE "ProductName", "MU投屏\0"
            VALUE "ProductVersion", "2.3.1.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
